/packages
/Interview/obj/Debug
/.vs/Interview/v14/.suo
/packages
/Interview.Test/obj/Debug
/Interview.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/Interview.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/Interview.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/Interview.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/Interview.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/Interview.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/Interview.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/Interview.Test/bin/Debug/Interview.Test.pdb
/Interview.Test/bin/Debug/Interview.Test.dll
/Interview/bin/Debug/Interview.pdb
/Interview/bin/Debug/Interview.dll
